.div {
    margin-left: 100px;
  }
  p{
    color: black;
  }
  
  .div-topo{
    margin-right: 200px !important;
  }
  
  .titulo-site{
    background-color:rgb(6, 70, 91); 
    color: white;
  }
  
  #div-geral{
    
  }

  <!DOCTYPE html>
<html>
<body>

<h2>HTML Image</h2>
<img src="pic_trulli.jpg" alt="Trulli" width="500" height="333">

</body>
</html>
